:root {
    --light-text-color: #dde1e9;
    --dark-text-color: #2e2e2e;
    --link-color: #ffae00;
    --background-overlay: #2e2e2e;
    --background-color: #2e2e2e83;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-overlay);
    font-weight: 500;
    font-size:18px; 
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--background-overlay) inset !important;
    box-shadow: 0 0 0 1000px var(--background-overlay) inset !important;
    -webkit-text-fill-color: var(--light-text-color) !important;
    border: 2px solid var(--light-text-color) !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
    font-size: 16px !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 400 !important;
    outline: none !important;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;
    margin-top: 10px;
}

nav .left a {
    color: var(--light-text-color);
    font-size: 35px;
    font-weight: 600;
    background-color: var(--background-color);
    border: 2px solid var(--light-text-color);
    border-radius: 5px;
    padding: 5px 10px;
}

nav .left a:hover {
    color: var(--link-color);
    border: 2px solid var(--link-color);
}

nav .right {
    background-color: var(--background-color);
    border: 2px solid var(--light-text-color);
    border-radius: 5px;
}

nav .right a {
    font-size: 25px;
    color: var(--light-text-color);
    margin: 0 20px;
}

nav .right a span {
    margin-left: 5px;
}

nav .right a:hover {
    color: var(--link-color);
}

/* SECTION 1: HERO */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap: 40px;
    margin-bottom: 40px;
    color: var(--light-text-color);
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    color: var(--light-text-color);
    border: 2px solid var(--light-text-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s ease-in-out;
}

.hero-section .text .links a:hover {
    color: var(--link-color);
    border: 2px solid var(--link-color);
}

.hero-section .headshot {
    display: flex;
    flex: 2;
    display: flex;
}

.hero-section .headshot img {
    width: 350px;
    border: 10px solid var(--light-text-color);
    border-radius: 50%;
}

/* SECTION 2: SKILLS */

.skills-section {
    padding: 0 50px;
    margin-bottom: 40px;
    color: var(--light-text-color);
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 30px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: 2px solid var(--light-text-color);
    border-radius: 5px;
    gap: 10px;
    padding: 20px 0px;
    width: 200px;
    transition: .2s ease-in-out;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 18px;
    font-weight: 600;
}

/* SECTION 3: Projects */
.projects-section {
    padding: 0 50px;
    margin-bottom: 50px;
    color: var(--light-text-color);
}

.projects-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.projects-section .cells {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.projects-section .cells .cell h3 {
    font-size: 20px;
    font-weight: 700;
}

.projects-section .cells .cell p {
    font-size: 18px;
    margin-bottom: 20px;
}

.projects-section .cells .cell .description {
    flex: 8;
    padding: 10px 0px;
}
.projects-section .cells .cell .repository a {
    margin-top: 10px;
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--background-color);
    border: 2px solid var(--light-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    transition: .2s ease-in-out;
}

.projects-section .cells .repository a:hover {
    color: var(--link-color);
    border: 2px solid var(--link-color);
    filter: brightness(110%);
}

/* SECTION 4: CONTACT */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--light-text-color);
}

 .contact-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
 }

 .contact-section .group {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
 }

 .contact-section .group .text {
    flex: 3;
        
 }

 .contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
    font-weight:600;
    gap: 2px;
 }

 .contact-section .group form input,
 .contact-section .group form textarea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--light-text-color);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: var(--light-text-color);
    outline: none;
    resize: none;
 }

 .contact-section .group form button {
    padding: 10px;
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
    border: 2px solid var(--dark-text-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease-in-out;
 }

.contact-section .group form button:hover {
        filter: brightness(110%);
        background-color: var(--link-color);
        scale: 1.05;
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
    /* NAVBAR */

    body {
        font-weight: 400;
    }

    nav .left {
        display: flex;
        flex-wrap: nowrap;
    }

    nav .left a {
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        font-size: 30px;
    }

    nav .right {
        display: flex;
        flex-wrap: nowrap;
    }

    nav .right a {
        margin: 0 10px;
        font-size: 25px;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    nav .right a span {
        font-size: 20px;
        font-weight: 400;
    }
    
    /* SECTION 1: HERO */
    .hero-section .text .h2 {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    /* NAVBAR */

    nav .right a {
        margin: 0 5px;
        font-size: 35px;
    }

    nav .right a:last-child {
        color: var(--light-text-color);
        background-color: transparent;
        padding: 0;
        font-size: 35px;
    }

    nav .right a span {
        display: none;
    }

    /* SECTION 1: HERO */
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-section .headshot img {
        width: 250px;
    }

    /* SECTION 3: Projects */
    .projects-section {
        text-align: center;
    }

    .projects-section .cells {
        flex-direction: column;
    }

    .projects-section .cells .cell .repository {
        margin: 10px auto 0;
        scale: 0.9;
    }

    /* SECTION 4: CONTACT */
    .contact-section .group {
        align-items: center;
        flex-direction: column;
    }

    .contact-section h2 {
        text-align: center;
    }

    .contact-section .group .text {
        margin-top: 0px;
        text-align: center;
     }
}

@media (max-width: 600px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .left a {
        font-size: 25px;
    }

    nav .right a {
        margin: 0 5px;
    }

    nav .right a:last-child {
        color: var(--light-text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* SECTION 1: HERO */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    /* SECTION 2: SKILLS */

    .skills-section {
        padding: 0 20px;
    }

    .skills-section h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .skills-section .cells .cell {
        padding: 10px 0px;
        width: 150px;
    }

    .skills-section .cells .cell img {
        width: 25px;
        height: 25px;
    }

    .skills-section .cells .cell span {
        font-size: 16px; 
    }

    /* SECTION 3: projects */
    .projects-section {
        padding: 0 20px;
    }

    .projects-section h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .projects-section .group .person-details img {
        width: 120px;
        height: 120px;
    }

    /* SECTION 4: CONTACT */
    .contact-section {
       padding: 0px 20px;
    }

     .contact-section h2 {
       font-size: 25px;
       margin-bottom: 10px;
    }

     .contact-section .group form {
        width: 75%;
     }
}